* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
form {
  position: relative;
  width: 500px;
}
input {
  display: block;
  text-transform: capitalize;
  width: 500px;
  height: 30px;
  padding: 15px;
  outline: none;
  margin: auto;
  border: none;
  border-bottom: 2px solid #d7d7d7;
  margin-bottom: 10px;
}
.progress {
  position: absolute;
  z-index: 5;
  bottom: 29px;
  left: 0;
  height: 2px;
  background-color: red;
  transition: width 0.5s linear;
}
.count {
  display: flex;
  justify-content: end;
}
.zero{
    color : red;
}